.v-center {
    min-height: 200px;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
}

.scrollable {
    height: 400px;
    overflow: auto;
}

.lineThrough {
    text-decoration: line-through;
}

hr.style5 {
    background-color: #fff;
    border-top: 2px dashed #8c8b8b;
}
hr.style4 {
    background-color: #8c8b8b;
    border-top: 0.5px dashed #8c8b8b;
}