<div class="row">
    <div class="col-md-12 text-center">
        <h3>Archived Todos</h3>
    </div>
</div>
<br/>
<div ng-switch="todos.length">
    <div ng-switch-when=0>
        <div class="row">
            <div class="col-md-12 alert alert-success" role="alert">
                No archived todo(s)
            </div>
        </div>
    </div>
    <div ng-switch-default>
        <div class="row" ng-repeat="todo in todos">
            <div class="col-md-8">
                {{$index+ 1}} {{todo.title}}
                <span class="badge badge-success">{{todo.status}}</span>

            </div>
            <div class="col-md-4">
                <a href="#" ng-click="restoreTodo(todo._id.$oid)"> Restore </a>
            </div>
            <hr style="width: 100%; color: #8c8b8b; height: 0.5px;"/>
        </div>
    </div>
</div>
