<div class="page-header text-center">
    <h1>Available Todos</h1>
</div>
<br/>
<div ng-switch="todos.length">
    <div ng-switch-when=0>
        <div class="row">
            <div class="col-md-12 alert alert-success" role="alert">
                Hooray!!! no todo
            </div>
        </div>
    </div>
    <div ng-switch-default>
        <div class="row" ng-repeat="todo in todos">
            <div class="col-md-8">
                <a href="#" ng-class="{lineThrough: todo.status === 'finished'}"
                   ng-click="toggleStatus(todo._id.$oid, todo.status)">
                    <input type="checkbox"
                           ng-checked="todo.status === 'finished'"
                           class="pull-left">
                    {{todo.title}}
                </a>

                <div class="row">
                    <div class="col-3" ng-repeat="tag in todo.tags">
                        <span class="badge badge-success">{{tag.name}}</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <a href="#/editTodo/{{todo._id.$oid}}"> Edit </a>
                |
                <a href="#/attachTags/{{todo._id.$oid}}"> Attach Tag(s) </a>
                |
                <a href="#" ng-click="deleteTodo(todo._id.$oid)"> Delete </a>
            </div>
        </div>
    </div>
</div>

<br/>
<hr class="style5">
<div class="row">
    <div class="col-md-6">
        <form ng-submit="queryViaTag()" class="form-inline">
            <div class="form-group">
                <input type="search" class="form-control mr-1"
                       placeholder="Search" id="searchText"
                       name="searchText"
                       ng-model="query">
            </div>
            <div class="form-group">
                <input type="submit"
                       ng-disabled="!query"
                       value="Lookup"
                       class="btn btn-primary">
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <form ng-submit="addTodo()" class="form-inline">
            <div class="form-group">
                <input type="text"
                       ng-model="newTodo.title"
                       placeholder="Todo title"
                       class="form-control mr-1">
            </div>
            <input type="submit"
                   ng-disabled="!newTodo.title"
                   value="Add Todo"
                   class="btn btn-primary">
        </form>
    </div>
</div>