<div class="page-header text-center">
    <h1>Todos by tags :: {{query}} </h1>
</div>
<br/>
<div ng-switch="todos.length">
    <div ng-switch-when=0>
        <div class="row">
            <div class="col-md-12 alert alert-success" role="alert">
                No todo(s) found with given tag
            </div>
        </div>
    </div>
    <div ng-switch-default>
        <div class="row" ng-repeat="todo in todos">
            <div class="col-md-6">
                {{$index + 1}}. {{todo.title}}
            </div>
            <div class="col-md-6">
                <ul ng-repeat="tag in todo.tags">
                    <li class="badge badge-success">{{tag.name}}</li>
                </ul>
            </div>
            <hr style="width: 100%; color: #8c8b8b; height: 0.5px;" />
        </div>
    </div>
</div>
